<!doctype html>
<html ng-app>
  <head>
  </head>
  <body>
        <div ng-controller="Ctrl">
            <h1>{{name}}</h1>
            <h2>{{age}}</h2>
            <div ng-repeat="person in persons"><input type="text" ng-model="persons[$index]"></div>
            <br>
            <br>
            <br>
                <input type="text" ng-model="persons[0]">
            <ul>
              <li ng-repeat="person in persons">{{person}}</li>
            </ul>
            <ul>
              <li ng-repeat="person in people">{{person.name}} ,  {{person.age}}</li>
            </ul>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    </body>
    <script>

        var Ctrl = function( $scope ) {
            console.log($scope);
            $scope.name = "Rafal";
            $scope.age = "28";
            $scope.persons=['Tom', 'Jerry']; 
            $scope.people =[
              {
                name: "Sobin", 
                age: 23
              },
              {
                name: "Hari",
                age: 13
              }
            ]
          
        };
    </script>
  </body>
</html>